# ignore env files
env
.env.local

# ignore all .log files
log/
*.log
cucumber-report.json
cucumber.html
cucumber/
coverage-cucumber/
reports/
coverage/

# ignore the node_modules directory
# ignore the build directory
dist/
node_modules/
output/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
